#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #8c1111;
}
hitstudent{
    display: block;
    background-color:rgb(247, 245, 238); padding: 15px; font-size: 45px;
}
body{
    background-color: rgb(242, 249, 249);
}
section{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}